<!DOCTYPE html>
<html lang="en">
<head>
    <style id="stndz-style"></style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grade Hub</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/css/custom.min.css">
</head>
<body style>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="">
    <div class="container">
        <a href="../" class="navbar-brand">Grade Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ryanthomp/GradeHub" target="_blank">View on GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="GradeHub" style="padding-bottom: 32px;"> Grade Hub </h1>
    </div>
    {% if worth_val == 1 %}
    <form action="/dashboard/tools/final_calc" method="POST">
        <fieldset>
            <div class="form-group">
                <label for="class_select">Class</label>
                <select class="form-control" name="class_select" id="class_select">
                    {% for class in ge.items() %}
                    <option>{{class[1][0]}},{{class[1][1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <legend>Final Calc</legend>
            <div class="form-group">
                <label for="want">What do you want in the class?</label>
                <input type="text" name="want" class="form-control" id="want" placeholder="ex. 98.2">
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </fieldset>
    </form>
    {% endif %}
    {% if worth_val == 2 %}
    <form action="/dashboard/tools/final_calc" method="POST">
        <fieldset>
            <div class="form-group">
                <fieldset disabled="">
                    <label class="control-label" for="class_select_dis">Disabled input</label>
                    <input class="form-control" name="class_select" id="class_select_dis" type="text" placeholder="{{cls}}" disabled="" value="{{cls}}">
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset disabled="">
                    <label class="control-label" for="want_dis">Disabled input</label>
                    <input class="form-control" name="want" id="want_dis" type="text" placeholder="{{want}}" disabled="" value="{{want}}">
                </fieldset>
            </div>
            <div class="form-group">
                <label for="worth">Couldn't determine final worth, please input worth</label>
                <input type="text" class="form-control" name="worth" id="worth" placeholder="ex. 15">
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>
</body>
</html>