<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/jquery.min.js"></script>
    <style id="stndz-style"></style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grade Hub</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../static/css/custom.min.css">
    <script type="text/javascript" src="../static/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(".table-info").click(function () {
                    window.location = $(this).data("href");
                });
                $(".table-warning").click(function () {
                    window.location = $(this).data("href");
                });
                $(".table-danger").click(function () {
                    window.location = $(this).data("href");
                });
                $(".table-success").click(function () {
                    window.location = $(this).data("href");
                });
            });
        });
    </script>
</head>
<body style>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="">
    <div class="container">
        <a href="../" class="navbar-brand">Grade Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ryanthomp/GradeHub" target="_blank">View on GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1 id="GradeHub" style="padding-bottom: 32px;"> Grade Hub </h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Class</th>
            <th scope="col">Average</th>
        </tr>
        </thead>
        <tbody>
        {% for link in value.items() %}
        {% if link[1][2] >= 100 or link[1][1] >= 89 %}
        <tr data-href="/dashboard/{{link[0]}}" class="table-info">
            {% elif link[1][2] >= 88 or link[1][1] >= 79 %}
        <tr data-href="/dashboard/{{link[0]}}" class="table-success">
            {% elif link[1][2] >= 78 or link[1][1] >= 69 %}
        <tr data-href="/dashboard/{{link[0]}}" class="table-warning">
            {% elif link[1][2] <= 68 %}
        <tr data-href="/dashboard/{{link[0]}}" class="table-danger">
            {% endif %}
            <th scope="row">{{link[1][0]}}</th>
            {% for info in [link[1]] %}
            <td>{{info[1]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
